---
// Layout
import DefaultLayout from '../layout/default.astro';
import { Image } from 'astro:assets';

// Libs
// import { formatBlogPosts } from '../js/utils';

// Components
import Hero from '../components/Hero.astro';
import Drawing from '../components/Drawing.astro';
import Partners from '../components/Partners.astro';
//import MDXLoader from '../components/MDXLoader.astro';

// MDX Data Imports
import Intro from '../data/intro.mdx';
import Rendement from '../data/rendement.mdx';
import DealflowText from '../data/dealflow-text.mdx';
import DealflowTable from '../data/dealflow-table.mdx';
import Exit from '../data/exit.mdx';
import Samenwerking from '../data/samenwerking.mdx';
import Team from '../data/team.mdx';
import Invest from '../data/invest.mdx';
import Contact from '../data/contact.mdx';

import ImageInfoGr from '../assets/img/img-infographic.png';

// Data
// const allPosts = await Astro.glob('../data/*.mdx');
// const filteredPosts = formatBlogPosts(allPosts);

// General Settings
const title = 'Impact Fonds';
const subtitle = 'Duurzame Voedselketen Rotterdam';
const description =
  'Impactfonds duurzame voedselketen Rotterdam (IDVR) verstrekt impactleningen aan verwerkers, retailers en boeren die een duurzame voedselketen in groot Rotterdam mogelijk maken.';

// console.log(filteredPosts);
---

<DefaultLayout {title} {subtitle} {description}>
  <div class="content relative overflow-hidden">
    <Drawing />
    <Hero {title} {subtitle} />
    <section class="intro">
      <Intro />
    </section>

    <section class="popout">
      <!-- Infrographic -->

      <Image
        src={ImageInfoGr}
        widths={[240, 540, 720, ImageInfoGr.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${ImageInfoGr.width}px`}
        alt="Infographic"
        class="absolute left-0 top-0 h-full w-full object-cover"
        loading="lazy"
        class="rounded-xl"
      />
    </section>

    <section>
      <Rendement />
    </section>

    <section class="full-width bg-salmon py-20">
      <!-- Dealflow -->
      <div class="popout">
        <div class="cols grid gap-16 md:grid-cols-12">
          <div class="md:col-span-7">
            <DealflowText />
          </div>
          <div class="md:col-span-5">
            <DealflowTable />
          </div>
        </div>
      </div>
    </section>

    <section>
      <Exit />
    </section>

    <section>
      <Samenwerking />
    </section>

    <section class="full-left rounded-right overflow-hidden">
      <!-- Boer -->
      <Image
        src="/assets/img/img-farmer.png"
        alt="Mooi Rotterdams Platteland."
        width="1600"
        height="900"
        class="object-cover"
      />
    </section>

    <section>
      <!-- Nauwe samenwerking fondsmanager, investment team en programma Rotterdam de boer op! -->
      <Team />
    </section>

    <!-- <section>
      <Markdown />
    </section> -->

    <section
      class="invest full-left rounded-right bg-default pr-extra grid grid-cols-subgrid py-16 pb-20"
    >
      <!-- Invest -->
      <div>
        <Invest />
      </div>
    </section>

    <section
      class="contact full-right rounded-left bg-purple -mt-20 grid grid-cols-subgrid py-16 text-white"
    >
      <div>
        <Contact />
      </div>
    </section>

    <section class="partners full-width py-10">
      <!-- Invest -->
      <div class="full-width grid">
        <h3 class="">Partners Rotterdam de Boer Op!</h3>
      </div>

      <Partners />
      <div class="wrapper grid grid-cols-4 items-center">
        <p class="col-span-3">
          Mogelijk gemaakt door de deelnemers van de Nationale Postcode Loterij
        </p>
        <Image
          src="/assets/img/Nationale Postcode Loterij.png"
          alt="Nationale Postcode Loterij."
          width="150"
          height="100"
          class="w-full"
        />
      </div>
    </section>
  </div>
</DefaultLayout>

<style>
  .parterns .wrapper {
  }
</style>

<script>
  import { animate, inView, stagger } from '@motionone/dom';

  // Animatie voor de secties
  inView('section', ({ target }) => {
    animate(
      target,
      { opacity: [0, 1], transform: 'none' },
      { duration: 0.5, delay: 0.25 },
    );
  });

  // Functie om de lijstitems te animeren
  const animateListItems = () => {
    const listItems = document.querySelectorAll('ul li');
    animate(
      listItems,
      { opacity: [0, 1], transform: ['translateY(20px)', 'translateY(0px)'] },
      {
        delay: stagger(0.1), // Vertraag elke animatie met 0.1 seconden
      },
    );
  };

  // Zorg ervoor dat de animatie wordt uitgevoerd wanneer de ul of ol in de viewport komt
  inView('ul, ol', animateListItems);

  // Alternatief: animatie per item als het in beeld komt
  inView('ul li, ol li', ({ target }) => {
    animate(
      target,
      { opacity: [0, 1], transform: ['translateY(20px)', 'translateY(0px)'] },
      {
        duration: 0.5,
        delay: stagger(0.2), // Vertraag elke animatie met 0.1 seconden
      },
    );
  });
</script>
