---
// Layout
import DefaultLayout from "../layout/default.astro";

// Libs
import { formatBlogPosts } from "../js/utils";
// Components
import Hero from "../components/Hero.astro";
// Data
const allPosts = await Astro.glob("../data/*.mdx");
const filteredPosts = formatBlogPosts(allPosts);

// General Settings
const title = "Impact Fonds";
const subtitle = "Duurzame Voedselketen Rotterdam";

console.log(filteredPosts);
---

<DefaultLayout {title} {subtitle}>
  <Hero {title} {subtitle} />

  {
    filteredPosts.map(({ frontmatter, Content }) => (
      <section class="section col-span-6 p-8">
        <h2 class="font-bold text-2xl">{frontmatter.title}</h2>
        <div class="content hide-table-headers prose prose-img:rounded-xl prose-headings:font-bold prose-a:text-blue-600">
          <Content />
        </div>
      </section>
    ))
  }
</DefaultLayout>
