---
const shareUrl = 'https://IFDV.nl'; // De URL die je wilt delen
const title = 'Deel%20deze%20pagina';
const text = 'Bekijk%20deze%20interessante%20pagina! ';
import { Icon } from 'astro-icon/components';
const { class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    'share flex items-center gap-2 rounded-full p-2 px-6 align-middle md:px-8',
    className,
  ]}
  {...rest}
>
  <span class="inline-block">share</span>
  <ul class="links flex flex-row items-center justify-center md:gap-2">
    <li class="flex">
      <a
        href={`https://www.linkedin.com/shareArticle?mini=true&url=${shareUrl}`}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Share on LinkedIn"
        class="inline-block p-2"
      >
        <Icon name="tabler:brand-linkedin" class="block text-3xl" />
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li class="flex">
      <a
        href={`https://twitter.com/intent/tweet?url=${shareUrl}&text=${text}`}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Share on Twitter or X"
        class="inline-block p-2"
      >
        <Icon name="tabler:brand-x" class="block text-3xl" />
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="flex">
      <a
        href={`mailto:?subject=${title}&body=${text}%20${shareUrl}`}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Share via email"
        class="inline-block p-2"
      >
        <Icon name="tabler:mail" class="block text-3xl" />
        <span class="sr-only">Mail</span>
      </a>
    </li>
  </ul>
</div>

<style>
  .share {
    background-color: var(--clr-teal);
    color: black;
    position: relative;
  }

  .header {
  }

  .links a {
    cursor: pointer;
  }
  .links a svg {
    pointer-events: none;
  }

  .links a:hover {
    opacity: 0.8;
  }
</style>
